
#calc {
background-color:lightgrey;
height:350px;
width:600px;
position:absolute;
top:20%;
left:28%;
border-radius:5%;
}
#closeBtn {
position:absolute;
top:0%;
left:1%;

background:url('images/closeUp.png');

}

#header {
background-color:grey;
position:absolute;
text-indent:50px;
color:white;
top:0%;
left:.1%;
font-size:12pt;
font-weight:bold;
height:5%;
width:99.8%;
border-top-left-radius: 5% 100%;
border-top-right-radius: 5% 100%;
}
#opBox{
position:absolute;
font-size:52pt;
top:7%;
left:0%;	
height:25%;
width:100%;
text-align:right;
}
#formStyle {
background-color:lightgrey;
text-align:center;
position:absolute;
top:5%;
left:1%;
color:blue;
font-size:12pt;
height:80%;
width:98%;
border-radius:5%;
}
.total{
background-color:black;
text-align:center;
position:absolute;
top:21%;
left:10%;
color:white;
font-size:24pt;
height:5%;
width:15%;
border-radius:5%;
}
.opButtons{
height:20%;
width:20%;
font-size:20pt;
text-align:center;
vertical-align:middle;
}
#add{
position:absolute;
top:35%;
left:60%;
}
#sub{
position:absolute;
top:55%;
left:60%;
}
#mul{
position:absolute;
top:75%;
left:60%;
}
#div{
position:absolute;
top:95%;
left:60%;
}
#equals{
position:absolute;
top:95%;
right:0%;
}
#escape{
position:absolute;
top:35%;
right:0%;
}
#one{
position:absolute;
top:75%;
left:0%;
}
#two{
position:absolute;
top:75%;
left:20%;
}
#three{
position:absolute;
top:75%;
left:40%;
}
#four{
position:absolute;
top:55%;
left:0%;
}
#five{
position:absolute;
top:55%;
left:20%;
}
#six{
position:absolute;
top:55%;
left:40%;
}
#seven{
position:absolute;
top:35%;
left:0%;
}
#eight{
position:absolute;
top:35%;
left:20%;
}
#nine{
position:absolute;
top:35%;
left:40%;
}
#zero{
position:absolute;
top:95%;
left:0%;
}
#dot{
position:absolute;
top:95%;
left:20%;
}
#percent {
position:absolute;
top:95%;
left:40%;
}